music {
    display: block;
    background: #4120A9;
    padding-top: 50px;
    text-align: center;
    width: 100%
}
info {
    display: block;
    width: 50%;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 550px;
    color: #9B0DEA;
    font-size: 24pt;
    font-style: normal;
    font-family: monospace;
    text-shadow: 0px 0px 5px #000;
}
info authors {
    font-size: 12pt;
    font-style: normal;
    display: block;
}
cd {
    display: block;
    width: 220px;
    padding: 25px;
    border: #ccc solid 2px;
    vertical-align: top;
    text-align: center;
    background: #001951;
    transition: 0.5s;
    margin: auto;
    width: 50%;
    border: 3px solid #9B0DEA;
}
cd:hover {
    background: #170B3B;
}
artist {
    display: block;
    font-size: italic;
    margin-bottom: 10px;
    color: #fff;
}
title {
    font-size: 18pt;
    font-style: normal;
    font-family: sans-serif;
    color: #fff;
}
image {
    align-items: center;
}
genre {
    display: block;
    border-radius: 4px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 4px;
    color: #fff;
    content: attr(type);
}
genre::before {
    content: attr(type);
}
score::before {
    content: '★ ' attr(value)
}
songs {
    display:block;
}
song {
    display:list-item;
    list-style-position:outside;
    list-style-type: disc;
    text-align: left;
    color: #fff;
}
song::before {
    content: attr(title);
}
description {
    align-content: left;
    color: #fff;
}
score {
    display: block;
    font-weight: bold;
    border-radius: 4px;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background: #4120A9;
    margin: 5px -5px -5px -5px;
}
score[value^="-"] {
    background: #E51400;
}
score[value^="0"],
score[value^="-0"] {
    background: #647687;
}
price {
    display: block;
    text-align: right;
    margin-top:10px;
    color: #fff;
}
price::before {
    content: 'Cena: ';
}
price[currency="PLN"]::after {
    content: ' zł';
}
price[currency="USD"]::after {
    content: ' $';
}
price[currency="EUR"]::after {
    content: ' €';
}
